<!-- PANTALLA AZKAR -->
<div id="pantalla-azkar" class="tab-content">
    <div class="azkar-grid" style="margin-top: 15px;">
        <div class="azkar-btn" onclick="abrirLectura('أذكار الصباح')">أذكار الصباح <span data-i18n="azkar_morning">(الصباح)</span></div>
        <div class="azkar-btn" onclick="abrirLectura('أذكار المساء')">أذكار المساء <span data-i18n="azkar_evening">(المساء)</span></div>
        <div class="azkar-btn" onclick="abrirLectura('أذكار الصلاة')">أذكار الصلاة <span data-i18n="azkar_prayer">(الصلاة)</span></div>
        <div class="azkar-btn" onclick="abrirLectura('أذكار بعد الصلاة')">أذكار بعد الصلاة <span data-i18n="azkar_postprayer">(بعد الصلاة)</span></div>
        <div class="azkar-btn" onclick="abrirLectura('أذكار الأذان')">أذكار الأذان <span data-i18n="azkar_adhan">(الأذان)</span></div>
        <div class="azkar-btn" onclick="abrirLectura('أذكار النوم')">أذكار النوم <span data-i18n="azkar_sleep">(النوم)</span></div>
        <div class="azkar-btn" onclick="abrirLectura('أذكار الإستيقاظ')">أذكار الإستيقاظ <span data-i18n="azkar_wake">(الإستيقاظ)</span></div>
        <div class="azkar-btn" onclick="abrirLectura('أذكار المسجد')">أذكار المسجد <span data-i18n="azkar_mosque">(المسجد)</span></div>
    </div>
</div>
